// header
header {
    background-color: white;
    
    // padding: 10px;
    // display: flex;
    // justify-content: space-between;
    height: 80px;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    // border: 2px black solid;
    
    .header-container{
        // height: 80px;
    }
    
    .main-nav{
        height: 80px;
        
    }

    .logo{
        text-decoration: none;
        // display: flex;
        // align-items: center;
    }
    
    .logo-icon{
        width: 50px;
    }

    .header-search{
        width: 240px;
        text-align: start;
    }

    .header-filter-btn{
        outline: none;
        border-radius: 30px;
        border: 1px solid #ddd;
    }
    
    .loggedin-user {
        background-color: $clr1;
        padding: 2px 0 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;
        span{
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
    }
    nav {
        // background-color: $clr4;
        // padding: 5px 0;
        color: whitesmoke;
    }
    nav a{
        // color: $clr6;
        color: black;
    }
    nav a:not(:first-child) {
        // border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }
    nav .active {
        color: $clr1;
    }
    
}

.header-sec{
    // background-color: $clr5;
    // padding: 10px;
    // display: flex;
    // justify-content: space-between;
    // height: 80px;
    // top: 0;
    // width: 100%;
}

