.stay-preview {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.40rem;
    letter-spacing: .3px;
    // color: #484848;
    margin-bottom: 15px;
    img {
        border-radius: 8px;
        // margin-bottom: .625rem;
        height: 197.81px;
        }

        p{
            margin-bottom: 0;
        }
}

.preview-txt {
    margin-top: 3px;
    margin-bottom: 3px;
    p {
        margin: 0;
    }
}