.stay-preview {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.40rem;
    letter-spacing: .3px;
    // color: #484848;
    margin-bottom: 15px;
    img {
        border-radius: 8px;
        // margin-bottom: .625rem;
        height: 197.81px;
    }

    .preview-txt-header{
        margin-top: 10px;
    }

    p{
        margin-bottom: 0;
    }

    .preview-txt {
        margin-top: 3px;
        margin-bottom: 3px;
        p {
            margin: 0;
        }
    }

    .preview-img .el-carousel__container {
        height: 197.81px;
    }

    .preview-img .el-carousel__arrow--left {
        height: 32px;
        width: 32px;
        color: inherit;
        background-color: hsla(0,0%,100%,.85);
    }

    .preview-img .el-carousel__arrow--right {
        height: 32px;
        width: 32px;
        color: inherit;
        background-color: hsla(0,0%,100%,.85);
    }

    .preview-img .el-carousel__arrow--left:hover {
        height: 34px;
        width: 34px;
        background-color: #fff;
    }

    .preview-img .el-carousel__arrow--right:hover {
        height: 34px;
        width: 34px;
        background-color: #fff;
    }

    .preview-img .el-carousel__button {
        width: 8px;
        padding-top: 100%;
        border-radius: 50%;
    }
}
