.home{
    margin-bottom: 60px;
    height: 100%;
    width: 100%;
    
    .about-txt-card {
        width: 50%;
        margin-right: 80px;
        & h3, p{
            text-align: left;
        }
    }

    .home-filter{
        position: absolute;
        top: 80px;
        
    }
    
    
    .hero-img{
        height: 70vh;
        background-image: url(~@/assets/img/hero.jpg);
        margin-bottom: 60px;
        // color: whitesmoke;
        // width: 100%;
        // border: transparent 1px solid;
        // background-position-x: 0;
        // background-position-y: 0;
        background-attachment: fixed;
        background-size: cover;
        background-position: center -275px;
        background-repeat: no-repeat;
    }

    .card-gallery {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    ul{
        padding-inline-start: 0;
    }

    .home-card{
        margin-bottom: 30px;
    }

    .about-header{
        padding-bottom: 30px;
    }
    
}

.main-txt {
    padding-top: 30vh;
    // margin-left: 16.5vw;
    width: 20vh;
    text-align: left;
    color: whitesmoke;
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: rgb(81, 81, 81);

h1{
    font-size: 72px !important
}
}    

.card .clickable {
    width: 33%
}

.card img{
    border-radius: 8px;
}