.host-container{
    // background-image: url("@/assets/img/add1.jpg");

}

.host-content{
height: 80vh;
align-items: center;
// background-image: url("/img/add1.jpg");
}

.host-txt{
    width: 50%;
}

.host-form{
    width: 400px
}

form > *{
    width: unset;
}
.form-input{
    border: 1px solid #bbb;
    color: #606266;
    font-size: inherit;
    line-height: 40px;
    padding: 10px 15px;
    min-width: 400px;
    height: 60px;
}