@font-face {
    font-family: Circular;
    src: url(~@/assets/fonts/Circular/CircularStd-Medium.ttf);
}
@font-face {
    font-family: Circular-bold;
    src: url(~@/assets/fonts/Circular/CircularStd-Bold.ttf);
}
@font-face {
    font-family: Circular-book;
    src: url(~@/assets/fonts/Circular/CircularStd-Book.ttf);
}