@font-face {
    font-family: Circular;
    src: url(~@/assets/fonts/Circular/CircularStd-Medium.ttf);
}
@font-face {
    font-family: Circular-bold;
    src: url(~@/assets/fonts/Circular/CircularStd-Bold.ttf);
}
@font-face {
    font-family: Circular-book;
    src: url(~@/assets/fonts/Circular/CircularStd-Book.ttf);
}
@font-face {
    font-family: Cereal-medium;
    src: url(~@/assets/fonts/Cereal/AirbnbCerealMedium.woff);
}
@font-face {
    font-family: Cereal;
    src: url(~@/assets/fonts/Cereal/AirbnbCerealLight.woff);
}
@font-face {
    font-family: Cereal-bold;
    src: url(~@/assets/fonts/Cereal/AirbnbCerealBold.woff);
}
@font-face {
    font-family: Cereal-book;
    src: url(~@/assets/fonts/Cereal/AirbnbCerealBook.woff);
}